/x86_64-w64-mingw32/include/SDL2/begin_code.h
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-ce4beeade010e64038a2.json
/x86_64-w64-mingw32/include/SDL2/close_code.h
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-151c9a15196c39c4cb35.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-f72e8017082512f622c8.json
/img/dots.bmp
/cmake-build-debug/.cmake/api/v1/reply/index-2023-11-17T09-23-53-0872.json
/img/lena.bmp
/x86_64-w64-mingw32/lib/libSDL2.a
/x86_64-w64-mingw32/lib/libSDL2.dll.a
/x86_64-w64-mingw32/lib/libSDL2.la
/x86_64-w64-mingw32/lib/libSDL2_test.a
/x86_64-w64-mingw32/lib/libSDL2_test.la
/x86_64-w64-mingw32/lib/libSDL2main.a
/x86_64-w64-mingw32/lib/libSDL2main.la
/x86_64-w64-mingw32/include/SDL2/SDL.h
/cmake-build-debug/SDL2.dll
/x86_64-w64-mingw32/share/aclocal/sdl2.m4
/x86_64-w64-mingw32/lib/pkgconfig/sdl2.pc
/x86_64-w64-mingw32/bin/sdl2-config
/x86_64-w64-mingw32/lib/cmake/SDL2/sdl2-config.cmake
/x86_64-w64-mingw32/lib/cmake/SDL2/sdl2-config-version.cmake
/x86_64-w64-mingw32/include/SDL2/SDL_assert.h
/x86_64-w64-mingw32/include/SDL2/SDL_atomic.h
/x86_64-w64-mingw32/include/SDL2/SDL_audio.h
/x86_64-w64-mingw32/include/SDL2/SDL_bits.h
/x86_64-w64-mingw32/include/SDL2/SDL_blendmode.h
/x86_64-w64-mingw32/include/SDL2/SDL_clipboard.h
/x86_64-w64-mingw32/include/SDL2/SDL_config.h
/x86_64-w64-mingw32/include/SDL2/SDL_cpuinfo.h
/x86_64-w64-mingw32/include/SDL2/SDL_egl.h
/x86_64-w64-mingw32/include/SDL2/SDL_endian.h
/x86_64-w64-mingw32/include/SDL2/SDL_error.h
/x86_64-w64-mingw32/include/SDL2/SDL_events.h
/x86_64-w64-mingw32/include/SDL2/SDL_filesystem.h
/cmake-build-debug/CMakeFiles/BBchess_engine.dir/SDL_functions.cpp.o
/x86_64-w64-mingw32/include/SDL2/SDL_gamecontroller.h
/x86_64-w64-mingw32/include/SDL2/SDL_gesture.h
/x86_64-w64-mingw32/include/SDL2/SDL_guid.h
/x86_64-w64-mingw32/include/SDL2/SDL_haptic.h
/x86_64-w64-mingw32/include/SDL2/SDL_hidapi.h
/x86_64-w64-mingw32/include/SDL2/SDL_hints.h
/x86_64-w64-mingw32/include/SDL2/SDL_joystick.h
/x86_64-w64-mingw32/include/SDL2/SDL_keyboard.h
/x86_64-w64-mingw32/include/SDL2/SDL_keycode.h
/x86_64-w64-mingw32/include/SDL2/SDL_loadso.h
/x86_64-w64-mingw32/include/SDL2/SDL_locale.h
/x86_64-w64-mingw32/include/SDL2/SDL_log.h
/x86_64-w64-mingw32/include/SDL2/SDL_main.h
/x86_64-w64-mingw32/include/SDL2/SDL_messagebox.h
/x86_64-w64-mingw32/include/SDL2/SDL_metal.h
/x86_64-w64-mingw32/include/SDL2/SDL_misc.h
/x86_64-w64-mingw32/include/SDL2/SDL_mouse.h
/x86_64-w64-mingw32/include/SDL2/SDL_mutex.h
/x86_64-w64-mingw32/include/SDL2/SDL_name.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengl.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengl_glext.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengles.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengles2.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_gl2.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_gl2ext.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_gl2platform.h
/x86_64-w64-mingw32/include/SDL2/SDL_opengles2_khrplatform.h
/x86_64-w64-mingw32/include/SDL2/SDL_pixels.h
/x86_64-w64-mingw32/include/SDL2/SDL_platform.h
/x86_64-w64-mingw32/include/SDL2/SDL_power.h
/x86_64-w64-mingw32/include/SDL2/SDL_quit.h
/x86_64-w64-mingw32/include/SDL2/SDL_rect.h
/x86_64-w64-mingw32/include/SDL2/SDL_render.h
/x86_64-w64-mingw32/include/SDL2/SDL_revision.h
/x86_64-w64-mingw32/include/SDL2/SDL_rwops.h
/x86_64-w64-mingw32/include/SDL2/SDL_scancode.h
/x86_64-w64-mingw32/include/SDL2/SDL_sensor.h
/x86_64-w64-mingw32/include/SDL2/SDL_shape.h
/x86_64-w64-mingw32/include/SDL2/SDL_stdinc.h
/x86_64-w64-mingw32/include/SDL2/SDL_surface.h
/x86_64-w64-mingw32/include/SDL2/SDL_system.h
/x86_64-w64-mingw32/include/SDL2/SDL_syswm.h
/x86_64-w64-mingw32/include/SDL2/SDL_test.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_assert.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_common.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_compare.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_crc32.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_font.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_fuzzer.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_harness.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_images.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_log.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_md5.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_memory.h
/x86_64-w64-mingw32/include/SDL2/SDL_test_random.h
/x86_64-w64-mingw32/include/SDL2/SDL_thread.h
/x86_64-w64-mingw32/include/SDL2/SDL_timer.h
/x86_64-w64-mingw32/include/SDL2/SDL_touch.h
/x86_64-w64-mingw32/include/SDL2/SDL_types.h
/x86_64-w64-mingw32/include/SDL2/SDL_version.h
/x86_64-w64-mingw32/include/SDL2/SDL_video.h
/x86_64-w64-mingw32/include/SDL2/SDL_vulkan.h
/cmake-build-debug/.cmake/api/v1/reply/target-BBchess_engine-Debug-d6d6582e9359085f83d2.json
